@{
    ViewData["Title"] = "Home Page";
}

@model MainModel

<div class="text-center">
    <h1 class="display-4">Welcome to XO by mat7400</h1>
    <!-- поле 5х5 -->
    <p>
        >Click  to select from menu</p>
        <p> 
        
        <a asp-action="singleplayer">single 7x7</a>
        <a asp-action="singleplayer55">single 5x5</a>
    </p>
    
</div>
